*{
    margin: 0px;
    padding: 0px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    --cor_light-azul_claro : hsl(220, 98%, 61%);
    --cor_light-azul_mais_claro : hsl(192, 100%, 67%);
    --cor_light-lilas : hsl(280, 87%, 65%);
    --cor_light-VeryLightGray: hsl(0, 0%, 98%);
    --cor_light-Very_Light_Grayis_hBlue: hsl(236, 33%, 92%);
    --cor_light-Light_Grayish_Blue: hsl(233, 11%, 84%);
    --cor_light-Dark_Grayish_Blue: hsl(236, 9%, 61%);
    --cor_light-Very_Dark_Grayis_hBlue: hsl(235, 19%, 35%);

    --cor_dark-VeryDarkBlue: hsl(235, 21%, 11%);
    --cor_dark-VeryDarkDesaturated_Blue: hsl(235, 24%, 19%);
    --cor_dark-LightGrayishBlue: hsl(234, 39%, 85%);
    --cor_dark-LightGrayishBlue: hsl(236, 33%, 92%);
    --cor_dark-DarkGrayishBlue: hsl(234, 11%, 52%);
    --cor_dark-VeryDarkGrayish_Blue: hsl(233, 14%, 35%);
    --cor_dark-VeryDarkGrayish_Blue: hsl(237, 14%, 26%);
}
 
body{
    background-color: var(--cor_dark-VeryDarkBlue);
    color: white;
    padding-top: 70px;

}
#titulo{
    margin-bottom: 20px;
}
#submit{
    
    position: absolute;
    height: 30px;
    width: 12%;
    color: white;
    background-color: var(--cor_dark-VeryDarkDesaturated_Blue);
    border: 0px;
    cursor: pointer;
}
.centro{
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}
#criador{
    width: 100%;
    background-color:var(--cor_dark-VeryDarkDesaturated_Blue);
    height: 30px;
    margin-bottom: 30px;
}
#criador #text {
    font-size: 20px;
    color: white;
    border: 0px;
    background-color: var(--cor_dark-VeryDarkDesaturated_Blue);
    width: 87%;
    height: 30px;
    float: right;
    
}


#container{
    background-color: plum;
    width: 100%;
    height: 350px ;
}
#container div {
    width: 100%;
    height: 30px;
    background-color: var(--cor_dark-VeryDarkDesaturated_Blue);
}
#controles{
    width: 650px;
    height: 30px;
    background-color: plum;
    display: grid;
    grid-template-columns: 230px 40px 60px 80px 224px ;
    gap: 4px;
}
#controles div{
    background-color: red;
    padding-top: 5px;
    margin: auto;
    width: 100%;
    text-align: center;
    
}
